.searching-line {
	margin-top: 60px;
	position: relative;
	width: 650px;
	text-decoration: none;
	margin: 0 auto;
	color: rgb(255, 255, 255);
}

.input {
	margin-top: 60px;
	width: 534px;
	border-radius: 10px;
	padding-left: 15px;
	height: 40px;
	text-decoration: none;
	outline: none;
	border: none;
	background-color: rgb(241, 241, 241);
	transition: all 0.1s ease-out;
}

.input:hover {
	border-radius: 20px;
}

.find {
	border-radius: 10px;
	height: 40px;
	text-decoration: none;
	background-color: rgb(219,55,39);
	color: white;
	border: none;
	width: 100px;
	transition: all 0.1s ease-out;
}

.find:hover {
	transform: scale(1.01);
	box-shadow: 0 7px 7px rgba(128, 128, 128, 0.5);
	color: rgb(0, 0, 0);
	border-radius: 20px;
}