.body {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
  height: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> 1babd244a7815d7467dbab4bdc73a54423ea047e
