.body{
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
  height: auto;
}

/* Footer */



.hr1{
  border: none;
  background-color: rgb(212, 212, 212);
  height: 1px;
  width: 1300px;
}





footer{
  position: relative;/*относительное позиционирование*/
  width: 100%;/*на всю ширину*/
  padding: 20px 50px;/*поля для контента*/
  background: #ffffff;/*цвет футера*/
  display: flex;
  justify-content: center;/*в центре по горизонтали*/
  align-items: center;/*в центре по вертикали*/
  flex-direction: column;
  
}

.social,
.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;/*разрешен перенос на новую строку*/
}

.social li,
.menu li{
    list-style: none;/*удалить черные маркеры*/
}

.social li a {
  font-size: 2em;/*размер иконок*/
  color: #5e5e5e;/*цвет иконок*/
  margin: 0 10px;
  display: inline-block;/*отображать как строчно-блочный элемент*/
  transition: 0.5s;/*плавный переход*/
}


.menu li a {
  font-size: 1.2em;/*размер ссылок меню*/
  color:  #5e5e5e;/*цвет ссылок меню*/
  opacity: 0.75;/*значение прозрачности*/
  margin: 0 15px;
  text-decoration: none;/*ссылка без подчеркивания*/
  display: inline-block;
}

.menu li a:hover {
  opacity: 1;
  color: red;
}
footer p {
  color:  #5e5e5e;
  text-align: center;
  margin-top: 15px;
  font-size: 1.1em;
}

.facebook:hover{
  color: rgb(0, 103, 187);
}

.twitter:hover{
  color: rgb(55, 161, 248);
}

.vk:hover{
  color: rgb(0, 110, 201);
}

.instagram:hover{
  color: rgb(223, 90, 2);
}

.hr{
  border: none; /* Убираем границу */
  background-color: rgb(219,55,39); /* Цвет линии */
  color: rgb(219,55,39); /* Цвет линии для IE6-7 */
  height: 10px; /* Толщина линии */
}